.options form {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.options fieldset {
   width: 49%;
   padding: 20px;
   display: flex;
}

.options input[type="radio"] {
   display: none;
}

.options input[type="radio"]:checked+label {
   background-color: lightgrey;
}

.options label {
   margin: 10px;
   padding: 5px;
   background-color: black;
   color: white;
   border: 1px solid black;
   cursor: pointer;
   font-size: 1.5em;
}

.options label:hover {
   background-color: white;
   color: black;
}

#player-options {
   display: none;
}

#start-over {
   display: none;
}

/* The message box */
section#message-box {
   height: 50%;
   overflow-y: scroll;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.message {
   width: 40%;
   border-radius: 10px;
   padding: 10px;
   margin: 5px 0;
   font-size: 1.25em;
}

p {
   margin: 0;
}

.player-message {
   text-align: right;
   background-color: lightgreen;
   margin-left: auto;
}

.sender-name {
   text-align: left;
   font-weight: bold;
}

.message-text {
   text-align: left;
}

.opponent-message {
   background-color: #ff9999;
   margin-right: auto;
}

/* Character stats */
.stats-section {
   display: flex;
   justify-content: space-around;
   position: absolute;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   padding-bottom: 20px;
}

.stats-section h4 {
   margin: 0;
   padding-right: 5px;
}

.character-stats div {
   display: flex;
}

h4.tab {
   margin-left: 20px;
}