html, body {
   margin: 0;
   padding: 0;
}

* {
   box-sizing: border-box;
}

main {
   width: 70%;
   margin: auto;
}

.options {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.options a, form input[type="submit"] {
   padding: 10px;
   background-color: black;
   color: white;
   width: max-content;
   cursor: pointer;
   transition: 200ms;
   border: 1px solid black;
   margin: 10px 0;
   font-size: 1.5em;
   text-decoration: none;
}

.options a:hover, form input[type="submit"]:hover {
   background-color: lightgrey;
   color: black;
   border: 1px solid black;
}

.options legend {
   font-size: 2em;
   text-align: center;
}