<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/team02.css">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="text-div" id="first-div">Text</div>
        <div class="text-div">Text</div>
        <div class="text-div">Text</div>
        <button id="click-me">Click Me</button>
        <input type="text" id="new-color" placeholder="Hexadecimal Please (#000000)">
        <button id="change-color">Change Color</button>
    </main>
    <script src="../scripts/team02.js"></script>
</body>

</html>